{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges/index.css" %}">
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% comment %} href in above link contains the path to the stylesheet or .css file {% endcomment %}

{% comment %} {% extends "../../../templates/base.html" this is very combersom and rather we use absoult path to django picks this path. %} {% endcomment %}

  {% block page_title %}
    All Challenges
  {% endblock %}

  {% block content %}
  {% include "challenges/includes/header.html" %}
  {% comment %} {% include "challenges/includes/header.html" with active_page="index" %} {% endcomment %}

    <ul>
      {% for mnth in month %}
      {% comment %} <li><a href="/challenges/{{ mnth }}">{{ mnth|title }}</a></li> this is hard codded and not good to use dynamically {% endcomment %}
      {% comment %} <li><a href="{% url "month-challenge" month=mnth also posible instade of mnth only %}">{{ mnth|title }}</a></li> {% endcomment %}
      <li><a href="{% url "month-challenge" mnth %}">{{ mnth|title }}</a></li>
      {% endfor %}
    </ul>
  {% endblock %}
